/nbproject/private/

# Ignore all winPHP base
www/*
!www/app/
www/app/*
!www/app/blocks/
www/app/blocks/*
!www/app/blocks/email/
www/app/blocks/email/*
!www/app/blocks/email/contents/
www/app/blocks/email/contents/*
!www/app/blocks/email/contents/contact.phtml

!www/app/controllers/
www/app/controllers/*
!www/app/controllers/ContatoController.php

!www/app/views/
www/app/views/*
!www/app/views/contato.phtml